:root {
    --black: #000000;
    --dark-gray: #122023;
    --green: #9cd91b;
    --light-gray: #e8e8ec;
    --light-green: #d1f22f;
    --mid-2-gray: #7d8386;
    --white: #ffffff;
    --x2: #fcf8f8;
    --font-size-l: 16px;
    --font-size-m: 14px;
    --font-size-s: 12px;
    --font-size-xl: 40px;
    --font-family-noto_sans: "Noto Sans", Helvetica;
    --font-family-plus_jakarta_sans: "Plus Jakarta Sans", Helvetica;
  }

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.box{
    display: flex;
    width: 85%;
    height: 85%;
    background-color: var(--white);
    align-items: center;
    justify-content: center;
}

.grid-outside{
    width: 85%;
    height: 85%;
}

.grid-inside{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.stack-inside{
    width: 60%;
}

.photo{
    height: 100%;
    width: 70%;
}

.text-field{
    margin: 1;
    width: 60%;
}

.button-send{
    border-color: var(--green) !important;
    color: var(--green) !important;
    width: 60%;
}

.custom-focused-textfield .MuiInput-underline:after {
    border-color: var(--green);
  }

.custom-focused-textfield .MuiInputLabel-root.Mui-focused {
    color: var(--black); 
}