:root {
    --black: #000000;
    --dark-gray: #122023;
    --green: #9cd91b;
    --light-gray: #e8e8ec;
    --light-green: #d1f22f;
    --mid-2-gray: #7d8386;
    --white: #ffffff;
    --x2: #fcf8f8;
    --font-size-l: 16px;
    --font-size-m: 14px;
    --font-size-s: 12px;
    --font-size-xl: 40px;
    --font-family-noto_sans: "Noto Sans", Helvetica;
    --font-family-plus_jakarta_sans: "Plus Jakarta Sans", Helvetica;
  }
  

  .MainSidebar{
    background: var(--white);
  }
  
  .MenuIcon{
    color: var(--green);
    height: 100vh;
  }

  .LinkSideBar{
    color: var(--black);
    text-decoration: none;
    font-family: "Plus Jakarta Sans", Helvetica;
    font-weight: 550;
  }